<div>
    <h2 translate="try1App.timeTable.home.title">TimeTables</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="timeTable.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="try1App.timeTable.home.createLabel">Create a new TimeTable</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="try1App.timeTable.day">Day</span></th>
                    <th><span translate="try1App.timeTable.startDate">StartDate</span></th>
                    <th><span translate="try1App.timeTable.endDate">EndDate</span></th>
                    <th><span translate="try1App.timeTable.timeSlot">timeSlot</span></th>
                    <th><span translate="try1App.timeTable.classRoomSession">classRoomSession</span></th>
                    <th><span translate="try1App.timeTable.section">section</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="timeTable in timeTables track by timeTable.id">
                    <td><a ui-sref="timeTable.detail({id:timeTable.id})">{{timeTable.id}}</a></td>
                    <td translate="{{'try1App.Days.' + timeTable.day}}">{{timeTable.day}}</td>
                    <td>{{timeTable.startDate | date:'medium'}}</td>
                    <td>{{timeTable.endDate | date:'medium'}}</td>
                    <td>
                        <span ng-repeat="timeSlot in timeTable.timeSlots">
                            <a class="form-control-static" ui-sref="timeSlot.detail({id: {{timeSlot.id}}})">{{timeSlot.id}}</a>{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td>
                        <span ng-repeat="classRoomSession in timeTable.classRoomSessions">
                            <a class="form-control-static" ui-sref="classRoomSession.detail({id: {{classRoomSession.id}}})">{{classRoomSession.id}}</a>{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td>
                        <span ng-repeat="section in timeTable.sections">
                            <a class="form-control-static" ui-sref="section.detail({id: {{section.id}}})">{{section.id}}</a>{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="timeTable.detail({id:timeTable.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="timeTable.edit({id:timeTable.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="timeTable.delete({id:timeTable.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
