
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myRankingLevelLabel" translate="try1App.rankingLevel.home.createOrEditLabel">Create or edit a RankingLevel</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="rankingLevel.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="try1App.rankingLevel.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="rankingLevel.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="try1App.rankingLevel.percentageLimit" for="field_percentageLimit">PercentageLimit</label>
            <input type="text" class="form-control" name="percentageLimit" id="field_percentageLimit"
                    ng-model="rankingLevel.percentageLimit"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="try1App.rankingLevel.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="rankingLevel.description"
                     />
        </div>

        <div class="form-group">
            <label translate="try1App.rankingLevel.course" for="field_course">course</label>
            <select class="form-control" id="field_course" name="course" ng-model="rankingLevel.course" ng-options="course as course.id for course in courses | orderBy:'id' track by course.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
